*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: monospace;
  padding: 1rem;
}


h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: 150%;
  color: tomato;
  text-align: center;
}

.tags  {
  max-width: 1000px;
  list-style-type: none;
  margin: 3rem auto 0 auto;
  padding: 0;
  text-align: center;
}

.tags li {
  display: inline-block;
  transition: font-size .5s ease;
  margin-left: 1rem;
}

.tags li a:link {
  color: #000;
  text-decoration: none;
}
